/* body{
    background-image: url(https://assets.materialup.com/uploads/40e7f9d8-58b3-4b23-b450-e0c11035c189/preview.gif) ;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 60s;
} */