h1 {
  color: #2626279a;
  font-size: 45px;
  margin: 5px auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1:hover {
  color: #000000;
  transition: 1s;
}

a {
  text-decoration: none;
  color: white;
}

button {
  background-color: #2626279a;
  border: none;
  border-bottom: solid 4px black;
  padding: 20px;
  margin: 10px;
  text-align: center;
  font-size: 16px;
  border-radius: 50px;
  transition: 0.4s;
  width: 10%;
  color : white;
  cursor: pointer;
}

button:hover {
  box-shadow: 0 5px 10px black;
  background-color: #000000;
  transition: 1s;
}

input{
  background-color: #2626279a;
  border: none;
  border-bottom: solid 4px black;
  padding: 20px;
  margin: 10px;
  text-align: center;
  font-size: 16px;
  border-radius: 50px;
  transition: 0.4s;
  width: 10%;
  color : white;
  cursor: pointer;
}

.logo{
  margin-top: 5px;
}

