.table {
  border-collapse: collapse;
  margin: 3rem auto;
}

.table td {
  height: 100px;
  width: 100px;
  border: 8px solid #0902d7c1;
  cursor: pointer;
  font-size: 3rem;
  padding: 15px;
  padding-right: 8px;
  padding-left: 8px;
  border-top: none;
}

/* .rond {
  height: 100%;
  border: 5px solid #0902d7c1;
  border-radius: 50px;
} */
