.table {
  background-color: #010512ab;
  margin: 6rem auto;
  border-bottom:solid 10px #0000007e;
  border-radius: 50px;
}

.table td {
  font-size: 6rem;
  height: 150px;
  width: 150px;
  background-color: white;
  cursor: pointer;
  box-shadow: 0 5px 15px black;
  border-top: none;
  text-align: center;
  border-radius: 50%;
  
}

.table tr {
  margin: 70px;
}


th {
  background-color: #262627b9;
  color: white;
  border: solid 1px grey;
  padding-top: 20px;
  padding-bottom: 20px;
  
}

.tableau td {
  height: 50px;
  border: solid 1px grey;
  
}


.tableau {
  border-collapse: collapse;
  text-align: center;
  width: 80%;
  box-shadow: 0 5px 20px black;
  margin: center;
  border: solid 3px #262627b9;
}

h1 {
  color: #2626279a;
  font-size: 45px;
  margin: 5px auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo{
  margin-top: 5px;
}