.table {
  background-color: #0902d7c1;
  margin: 5rem auto;
  border-bottom:solid 10px #0902d7c1;
}

.table td {
  font-size: 5rem;
  height: 150px;
  width: 150px;
  background-color: white;
  cursor: pointer;
  box-shadow: 0 5px 15px black;
  border-top: none;
  text-align: center;
  border-radius: 50%;
  
}

.table tr {
  margin: 70px;
}


th {
  background-color: #3d2683;
  color: white;
  border: solid 1px grey;
  padding-top: 20px;
  padding-bottom: 20px;
  
}

.tableau td {
  height: 50px;
  border: solid 1px grey;
  
}


.tableau {
  border-collapse: collapse;
  text-align: center;
  width: 80%;
  box-shadow: 0 5px 20px black;
  margin: center;
  border: solid 3px #3d2683;
}

h1 {
  color: #3b2683;
  font-size: 45px;
  margin: 5px auto;
}

a {
  color: white;
}

.logo{
  margin-top: 5px;
}