li.ancre {
  list-style: none;
  font-size: 20px;
  margin-right: 50px;
  padding: 4px;
  color: #3d2683;
}

.block1 {
  color: #3d2683;
}

h1 {
  color: #3b2683;
  font-size: 45px;
  margin: 5px auto;
}

.description {
  color: #3b2683;
  font-size: 20px;
}
