li.ancre {
  list-style: none;
  font-size: 20px;
  margin-right: 50px;
  padding: 4px;
  color: #6745ce;
}

.block1 {
  color: #6745ce;
}

h1 {
  color: #6745ce;
  font-size: 45px;
  margin: 5px auto;
}

.description {
  color: #6745ce;
  font-size: 20px;
}
.logo{
  margin-top: 5px;
}